/* table of tictactoe 100 by lines (with delays self drawing) */
path.tictactoe {
	animation: ttt 0.5s ease-in-out forwards;
	fill: transparent;
	stroke: #777;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
}
path.tictactoe.b {
	animation-delay: 0.25s;
}
path.tictactoe.c {
	animation-delay: 0.5s;
}
path.tictactoe.d {
	animation-delay: 0.75s;
}
path.tictactoe.e {
	animation-delay: 1s;
}
/* cross and circle */
g.tictactoe.cross path {
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	stroke-width: 2; /* optional */
}
g.tictactoe.circle path {
	stroke-dasharray: 189;
	stroke-dashoffset: 189;
	stroke-width: 2;
}
/* animation */
@keyframes ttt {
	to {
		stroke-dashoffset: 0;
	}
}
